include mixin/icon

div.contact
  ul.contact__list
    li.contact__item
      a.contact__link(href="https://www.facebook.com/masha.feilyk" target="blank")
        svg.svg-ico.svg-ico-facebook
          use(xlink:href='#svg--facebook')
        span.contact__text Follow me on Facebook
    li.contact__item
      a.contact__link(href="https://www.instagram.com/masha.feilyk/" target="blank")
        svg.svg-ico.svg-ico-instagram
          use(xlink:href='#svg--instagram')
        span.contact__text Follow me on Instagram