doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=0")

  link(rel="stylesheet" href="css/manifest.css" type='text/css')

body

  div.sprite
    include sprites/symbol/svg/sprite.symbol.svg

  div.content
    div.fix
      h1.content__title This is my first skeleton

      include blocks/about.pug
      include blocks/contact.pug